- if(auth.valid)
  .view#edit(ng-controller="EditController", ng-model="qType", ng-init="qType='#{query.type}';", ng-switch="qType")
    .gallery(ng-switch-when="gallery")
      h1 Gallery
      .grid
        a.action.add-content(ng-click="addContent('#{query.route}', $event)") Add Pictures
        a.action.edit-content(ng-click="editContent('#{query.route}', $event)") Edit Pictures
        a.action.edit-metadata(ng-click="editMeta('#{query.route}', $event)", $event) Edit Text
        a.action.delete(ng-click="delete('#{query.route}', $event)") Delete
    .index(ng-switch-when="index")
      h1 Index
      .grid
        a.action.new-XXX(ng-click="newXXX('#{query.route}', $event)") Create ...
        a.action.edit-content(ng-click="editMeta('#{query.route}', $event)") Edit Text
        a.action.delete(ng-click="delete('#{query.route}', $event)") Delete
    .notfound(ng-switch-when="notfound")
      h1 New
      .grid
        a.action.new-index(ng-click="newIndex('#{query.route}', $event)") Create Index
        form.action.new-gallery(action="/rest/gallery?route=#{query.route}", metod="put", enctype="multipart/form-data", ng-click="toVoid($event)")
          | Create Gallery
          input(type="file", multiple, data-route="#{query.route}", name="files", ng-model="files", onchange="angular.element(this).scope().newGallery(this);")
          input(type="submit")
          .bar
    .otherwise(ng-switch-default)
      h1 Nothing to edit
- else
  // nothing for you...
